.main_slider {
    overflow: hidden;
    margin: var(--section-gap) auto;
    max-width: var(--max-width--global);
    position: relative;
}

.slides_main_slider {
    position: relative;
    /* stacked slides */
    width: 100%;
    height: 491px;
}

.slide_main_slider {
    position: absolute;
    /* sab overlap karenge */
    top: 0;
    left: 0;
    width: 100%;
    height: 491px;
    border-radius: 24px;
    opacity: 0;
    /* by default hidden */
    transition: opacity 0.8s ease-in-out;
    /* fade animation */
    display: flex;
    justify-content: space-between;
}

.slide_main_slider.active {
    opacity: 1;
    /* sirf current visible */
    z-index: 1;
}


.main_slider_content_right {
    display: block;
    height: 560px;
    top: 34px;
    width: 864px;
    background-size: cover;
}

.main_slider_content_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-left: 120px;
    padding-right: 52px;
    max-width: 40%;
}

.main_slider_content_left h2 {
    font-size: var(--font-size--52);
    line-height: var(--line-height--lg);
    font-weight: var(--font-weight--extra-bold);
    color: #fff;
}

.main_slider_content_left p {
    font-size: var(--font-size--23);
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--md);
    color: #fff;
}

.main_slider_content_left button {
    height: 40px;
    padding: 0 var(--spacing--lg);
    font-size: var(--font-size--16);
    font-weight: var(--font-weight--medium);
    color: var(--primary);
    background-attachment: white;
    border-radius: 14px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    color: var(--charcoal);
}


.dots_btn_main_slider {
    background-color: var(--color-gray--30);
    border: none;
    border-radius: 10px;
    height: 16px;
    width: 16px;
}

.dots_btn_main_slider.active {
    background-color: var(--peace);
}

.pause_slider_main_btn {
    background: none;
    border-radius: 0px;
    color: rgb(36, 39, 41);
    font-size: 1rem;
    font-weight: 600;
    padding: 0px;
    border: none;
}

.pause_slider_main_btn svg {
    margin-top: 4px;
}

.slides_main_slider {
    display: flex;
    width: 100%;
    /* overflow: hidden; */
}

.slide_main_slider {
    width: 100%;
    height: 491px;
    border-radius: 24px;
    flex-shrink: 0;
    justify-content: space-between;
}

.slider_main_controllers {
    display: flex;
    gap: 5px;
    margin-top: 50px;
    align-items: center;
    height: 30px;
}

.arrow_main_slider {
    position: absolute;
    top: 50%;
    /* move to middle vertically */
    transform: translateY(-50%);
    /* adjust to center perfectly */
    background: #fff;
    border-radius: 50%;
    /* 1000% bhi chalega but 50% enough */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 28px;
    color: var(--primary);
    color: var(--charcoal);
}

.arrow_main_slider.left {
    left: 20px;
}

.arrow_main_slider.right {
    right: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .main_slider_content_right {
        display: block;
        height: 320px;
        width: 500px;
        background-size: cover;
        margin-top: 14%;
        margin-right: 3%;
    }


    .main_slider_content_left h2 {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 38px;
        line-height: 40px;
    }

    .main_slider_content_left p {
        position: absolute;
        top: 22%;
        left: 6%;
        font-size: 21px;
        width: 75%;
    }

    .main_slider_content_left button {
        position: absolute;
        bottom: 10%;
        left: 5%;
        font-size: 21px;
        /* width: 30%; */
        /* display: none; */
        max-width: 200px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: 600;
    }

    .slide_main_slider {
        height: 400px;
    }

    .slider_main_controllers {
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
}

.main_slider_content_right_image_mob{
    display: none;
}

@media (max-width: 768px) {
    .main_slider_content_left h2 {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 28px;
        line-height: 30px;
    }

    .main_slider_content_left p {
        position: absolute;
        top: 30%;
        left: 6%;
        font-size: 15px;
        width: 75%;
    }



    .slides_main_slider {
        flex-direction: column;
    }

    .main_slider_content_left {
        width: 100%;
        padding: 0 !important;
    }

    .main_slider_content_right {
        display: none;

    }
    .main_slider_content_right_image_mob{
    display: flex;
    position: absolute;
    width: 80%;
    height: auto;
    bottom: -50px;
    right: 0;
}


    .main_slider_content_left {
        max-width: 100%;
    }

    .slide_main_slider {
        height: 330px;
    }

    .main_slider_content_left button {
        display: none;
    }
    .arrow_main_slider{
        display: none;
    }
    .slides_main_slider {
        height: 330px;
    }

}

@media (max-width: 768px) {
    .main-layout{
        margin-top: 0;
    }
}