.sales-products-container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width--global);
  margin: 0 auto 0px auto;
  gap: 10px;
}

.sales-top-banner {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.sales-top-banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sales-container-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px 12px;
}

.sales-container-wrapper.full-width {
  width: 100%;
}

.sale_page_sale_carousel .sales-left-img {
  width: 360px;
}

.sales-left-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sales-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scrollbar-width: none;
}

.sales-department-image-craousel {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin-top: 10px; */
}

.sales-department-image-craousel.partial {
  width: calc(100% - 370px);
}

.sales-department-image-craousel.full {
  width: 100%;
}

.sales-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 92%;
  margin: auto;
}

.sales-arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #6f7373;
  cursor: pointer;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: var(--charcoal);
}

.sales-arrow-btn.left {
  left: -45px;
}

.sales-arrow-btn.right {
  right: -45px;
}

.sales_card_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* height: 250px; */
  scrollbar-width: none;
}

.sales_card_container::-webkit-scrollbar {
  display: none;
}

.sales-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sales-header span {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--charcoal);
}

.sales-header p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--charcoal);
  cursor: pointer;
}

.sales-header:hover p {
  color: var(--peace);
}

.horizontal-line {
  display: block;
  height: 1px;
  border-top: 1px solid #bdbdbd;
  margin-top: 4px;
}

.sales_card_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* height: 250px; */
}

.sales-card {
  flex: 0 0 auto;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.sales-Image img {
  width: 100%;
  height: 165px;
  object-fit: contain;
  border-radius: 8px;
}

.sales-name {
  font-size: 12px;
  color: var(--black);
  font-weight: 400;
  margin-top: 2px;
  text-align: left;
}

.product-price {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  margin-top: 50px;
}

.product-price .currency {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.product-price .price-int {
  font-size: 21px;
  font-weight: 500;
  color: var(--charcoal);
}

.product-price .price-dec {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
  color: var(--charcoal);
}

.sales-Image {
  position: relative;
  width: 100%;
  height: 125px;
}

.add-btn-container {
  position: absolute;
  bottom: -45px;
  right: 16px;
}

.plus-btn {
  background: var(--dark-medium-green);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, background 0.2s ease;
}

.icon-white {
  color: #fff;
  font-size: 20px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

.loader {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side,
      var(--dark-medium-green) 94%,
      #0000) top/5px 5px no-repeat,
    conic-gradient(#0000 30%, var(--dark-medium-green));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.qty-control {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  border: 2px solid var(--dark-medium-green);
  border-radius: 20px;
  padding: 4px 10px;
  font-weight: 400;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: right;
  animation: expandX 0.4s ease-out forwards;
}

@keyframes expandX {
  from {
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.collapse-anim {
  animation: collapseX 0.3s ease-in forwards;
}

@keyframes collapseX {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

.qty-control button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  line-height: 0;
}

.qty-control span {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

@keyframes expand {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1850px) {
  .sales-arrow-btn.left {
    left: -50px;
  }

  .sales-arrow-btn.right {
    right: -50px;
  }

  .sales-carousel-wrapper {
    width: 90%;
  }

  .sale_page_sale_carousel .sales-left-img {
    flex: 0 0 360px;
  }
}

@media (max-width: 1550px) {
  /* .sales-arrow-btn.left {
    left: -50px;
  }

  .sales-arrow-btn.right {
    right: -50px;
  } */

  .sale_page_sale_carousel .sales-left-img {
    flex: 0 0 360px;
  }

  .sales-carousel-wrapper {
    width: 87%;
  }
}



.sale_page_sale_carousel {
  display: flex;
  gap: 10px;
}

.sale_page_sale_carousel .sales-left-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale_page_sale_carousel .product-card {
  padding: 5px !important;
}


@media only screen and (min-width: 768px) and (max-width: 1300px) {

  .sale_page_sale_carousel .sales-left-img {
    display: none;
  }

  .sales-department-image-craousel.partial {
    width: 100%;
  }

  .arrow-btn.right {
    right: -60px;
  }

  .arrow-btn.left {
    left: -60px;
  }
}

@media (max-width: 767px) {
  .sale_page_sale_carousel .sales-left-img {
    display: none;
  }

  .sales-department-image-craousel.partial {
    width: 100%;
  }

  .sales-header span{
    font-size: 19px;
    line-height: 21px;
  }
  .sales-header p{
    display: none;
  }

  .sales-arrow-btn.left, .sales-arrow-btn.right{
    display: none;
  }
  .sales-carousel-wrapper{
    width: 100%;
  }
}